/* * {
    
   } */

html {
    background-image: url("/img/about-me-bkg.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #0898d1;
}

body {
    background-image: url('img/about-me-bkg.jpg');
    width: 960px;
    
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 200px;
    float:right;
}

header {
    border: 3px;
    border-style: double;
    background-color: rgb(10, 190, 190);
    margin:100px 0px 20px 0px;
    padding-top: 10px;
    
    
   
}

header h1 {
        font-size: 60px; 
        font-style: bold;
    }

header h2 {
    font-size: 30px; 
    font-style: italic;
}

section h1 {
    Margin-top:10px;
    font-size:50x;
    font-style:bold;
}

ul {
    list-style: outside;
    margin: 25px;
}


ol {
    list-style: decimal;
    margin-left: 50px;
    Margin-top:10px;
}

ol:first-child {
  list-style: none;
  font-style: bold;
  margin-left:100px;
}